<main class=container>
    <section class="admin_index_header page_header">
        <h1>Admin Home</h1>
    </section>
    <section class="admin_index_body page_body">
        <h2>Admin Controls</h2>
        <button>
            <%= link_to "Create Unit", new_unit_path %>
        </button>
        <div class="admin_units_list">
            <ul>
                <% @units.each do |unit| %>
                        <li>
                            <%= link_to unit.title, unit_path(unit) %>
                        </li>
                <% end %>
            </ul>
        </div>
    </section>
</main>