<main class="container">
    <section class="show_user_header">
        <h1><%= @user.username %></h1>
    </section>
    <section class="show_user_body">
        <h2><%= @user.email %></h2>
        <h2>Admin: <%= !!@user.admin %></h2>

        <div class="my_learning_div">
            <h2>My Units to Learn:</h2>
        </div>
    </section>
    <section class="show_user_footer">
        <button type='button'>
            <%= link_to "Edit User", edit_user_path(@user) %>
        </button>
    </section>
</main>