<main class="container">
    <section class="student_home_header page_header">
        <h1>THIS IS STUDENT HOME</h1>
    </section>
    <section class="student_home_body page_body">

    </section>
    <section class="student_home_footer page_footer">

    </section>
</main>