/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
     margin: 0;
     padding: 0;
 }

 nav {
    position: absolute;
    left: 0;
    background: linear-gradient(to right, rgb(34, 0, 0), rgb(30, 32, 0));
    min-height: 100vh;
    height: 100%;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
 }

 nav button {
    margin-top: 25px;
 }

 .container {
     background: linear-gradient(to right, beige, rgb(163, 134, 134));
     margin-left: 100px;
     min-height: 100vh;
     width: calc(100% - 100px);
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

.page_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page_header h1 {
    font-size: 3em;
}

.page_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* BUTTONS */
button {
    padding: 5px 10px;
    background: rgba(128, 128, 128, 0.5);
    border: 2px solid black;
    border-radius: 3px;
    text-decoration: none;
}

button a {
    text-decoration: none;
    color: rgb(233, 233, 233);
    text-shadow: 1px 1px 2px black;
    font-size: 1.2em;
}

/* HOME PAGE */
.home_page_body .home_buttons {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

/* ADMIN HOME PAGE */
.admin_home_body {
    max-width: 800px;
    min-width: 500px; 
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.admin_home_body article {
    max-width: 350px;
    width: 50%;
    min-width: 300px;
    margin: 20px 10px; 
    border: 1px solid black;
    border-top: 30px solid rgba(3, 2, 70, 0.2);
    border-radius: 3px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    background: rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* SHOW DOCUMENT */
.show_document_body {
    max-width: 600px;
}


